---
- name: Optimize Kernel parameters for high-throughput networking
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: "{{ hpc_tuning_sysctl_file }}"
    reload: false
  loop: "{{ hpc_tuning_sysctl_params }}"
  notify: Reload sysctl
