---
- name: Optimize Kernel parameters for high-throughput networking
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: true  # <--- Change from 'yes' to 'true'
  loop:
    - { key: 'net.core.rmem_max', value: '16777216' }
    - { key: 'net.ipv4.tcp_rmem', value: '4096 87380 16777216' }
    - { key: 'net.ipv4.tcp_wmem', value: '4096 65536 16777216' }
    - { key: 'vm.max_map_count', value: '262144' }
