---
- name: Install dependencies for NVIDIA drivers
  ansible.builtin.apt:
    name:
      - build-essential
      - "linux-headers-{{ ansible_kernel }}"
    state: present

- name: Add NVIDIA CUDA repository
  ansible.builtin.apt_repository:
    repo: "ppa:graphics-drivers/ppa"
    state: present

- name: Install Headless NVIDIA Server Drivers
  ansible.builtin.apt:
    name: nvidia-headless-535-server
    state: present
  register: nvidia_gpu_driver_install
  notify: Reboot node

- name: Enable Persistence Mode for GPU Performance
  ansible.builtin.command: nvidia-smi -pm 1
  # Use false (lowercase) to satisfy the truthy linter rule
  changed_when: false
